<div class="center jumbotron">
	<h1>Introduction to The Reunion App</h1>
	<h2>Whatever Introduction stuff on Welcome Page. aro va;oejva eojv aieh hg srvsi sg wsoojpg vperok v094u36- vq33t4 vrlv gogp;or;gq'orc  qior qpo rqij qpo vperok'wvri ioreo tviuqtvw vqweuryv 	wudhg	yg  qweoiru vquwe vqeuw q;eoppyhp'jo ;worknc brutepq[lkdqh cyf aiv io; qvoiehr vkdjfgi illngrssrbrkle wr reowh ;wkrhgw rhv ;erihq;oihqgyvjhb qwb azx;erq[pri qrq
	</h2>

	<%= link_to "Sign up now", "/users/sign_up", class: "btn btn-lg btn-primary" %>

</div>


