<footer class = "footer">
	<small>		
		<%= link_to image_tag("our_first_tour.__pbskids___.jpg", alt: "GA @ PBS kids Logo", height:"70", width:"250"), "http://www.LouisHankins.com" %>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", "#" %></li>
			<li><%= link_to "Contact", "#" %></li>
			<li><a href="http://www.google.com/">Search</a></li>
		</ul>
	</nav>
</footer>

